@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>On the platform with our application. It`s great place to manage your warehouse. You can create accounts of new users, add new categories and items. Change quantity of items and a lot more.. Let`s get to know each other better!</p>
</div>
